:root {
  --text-color: #434455;
  --accent-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
}

body {
  background-color: #ffffff;
  color: var(--text-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* LOGO */

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-black {
  color: var(--accent-text-color);
}

.logo-white {
  color: #f4f4fd;
}

/* NAVIGATION */

.nav .link {
  color: var(--accent-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.nav .link.current,
.nav .link:hover,
.nav .link:focus,
.contact .link-contact:hover,
.contact .link-contact:focus {
  color: var(--hover-color);
}

.link-contact {
  color: var(--text-color);
}

/* TEXT */

.contact,
.feature-p,
.team-p,
.footer-p,
.cart-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.team-p {
  text-align: center;
}

.footer-p {
  color: #e7e9fc;
}

.promo,
.footer {
  background: var(--accent-text-color);
}

.promo-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.btn-promo {
  background: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
}

.btn-filter {
  background: #f4f4fd;
  color: var(--accent-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.btn-promo:hover,
.btn-promo:focus {
  background: var(--hover-color);
}

.btn-filter:hover,
.btn-filter:focus {
  color: #ffffff;
  background: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-text-color);
}

.team-title,
.cart-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.team-title {
  text-align: center;
}
